* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contact {
  background: #020617;
  padding: 80px 0;
  color: white;
}

/* CARD */
.contact-card {
  background: rgba(255, 255, 255, .03);
  border: 1px solid rgba(255, 255, 255, .08);
  border-radius: 16px;
  padding: 22px;
  transition: .4s;
}

.contact-card:hover {
  border-color: #3b82f6;
  box-shadow: 0 0 40px rgba(59, 130, 246, .18);
}

/* INPUTS */
label {
  font-size: 13px;
  margin-bottom: 4px;
}

input,
select,
textarea {
  width: 100%;
  background: rgba(255, 255, 255, .04);
  border: 1px solid rgba(255, 255, 255, .08);
  border-radius: 10px;
  padding: 9px 12px;
  color: white;
  font-size: 13px;
}

textarea {
  min-height: 120px
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: #3b82f6;
}

/* BUTTON */
.send-btn {
  width: 100%;
  background: linear-gradient(90deg, #3b82f6, #8b5cf6);
  border: none;
  padding: 10px;
  border-radius: 10px;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.send-btn:hover {
  box-shadow: 0 0 20px rgba(99, 102, 241, .4);
  transform: translateY(-2px);
}

/* INFO */
.info-wrap {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.info-card {
  background: rgba(255, 255, 255, .03);
  border: 1px solid rgba(255, 255, 255, .08);
  border-radius: 14px;
  padding: 14px;

  display: flex;
  gap: 10px;
}

.info-card:hover {
  border-color: #0ea5e9;
}

/* ICON */
.icon-box {
  width: 44px;
  height: 44px;
  border-radius: 10px;
  background: linear-gradient(135deg, #3b82f6, #8b5cf6);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MAP */
.map-card {
  background: rgba(255, 255, 255, .03);
  border: 1px solid rgba(255, 255, 255, .08);
  border-radius: 14px;
  padding: 40px 10px;
  text-align: center;
}

/* TEXT */
.mute {
  color: #94a3b8;
  font-size: 13px;
  white-space: pre-line;
}

/* RESPONSIVE */
@media(max-width:768px) {
  .contact {
    padding: 50px 0
  }
}